---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="scss">
      article {
        img {
          height: auto;
        }
        .title {
          display: flex;
          justify-content: space-between;
          /* align-items: center; */
          margin: 0.25em 0 0;
        }
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <section class="title">
          <h1>{title}</h1>{pubDate && <time>{pubDate}</time>}
        </section>
        <p>{description}</p>

        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <!-- SLOT indicates where the markdown should be rendered -->
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
