---
import "../styles/components/blogpost.scss";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideNav from "../components/SideNav.astro";
import MyInfo from "../components/MyInfo.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE + " || " + title} description={description} />
  </head>

  <body>
    <Header />
    <main class="blogpost-main">
      <SideNav />
      <section class="blogpost-section">
        <article>
          <section class="blogpost-header">
            <div class="blogpost-header__img">
              {
                heroImage && (
                  <img width={1000} height={420} src={heroImage} alt="" />
                )
              }
            </div>
            <div class="blogpost-header__text">
              {pubDate && <time class="date">{pubDate}</time>}

              <h1 class="title">{title}</h1>

              <!-- <p class="description">{description}</p> -->
              <!-- {
                updatedDate && (
                  <div>
                    Last updated on <time>{updatedDate}</time>
                  </div>
                )
              } -->
            </div>
          </section>
          <hr />
          <section class="blogpost-article">
            <slot />
          </section>
        </article>
      </section>
      <!-- <MyInfo /> -->
    </main>
    <Footer />
  </body>
</html>
