---
import "../styles/components/blogpost.scss";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import MyInfo from "../components/MyInfo.astro";
import MainLayout from "./MainLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<MainLayout>
  <!-- <BaseHead title={title} description={description} /> -->

  <section class="blogpost-main">
    <article>
      <section class="blogpost-header">
        <div class="blogpost-header__img">
          {
            heroImage && (
              <img width={1000} height={420} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="blogpost-header__text">
          {pubDate && <time>{pubDate}</time>}
          <h1 class="title">{title}</h1>

          <p class="description">{description}</p>
          {
            updatedDate && (
              <div>
                Last updated on <time>{updatedDate}</time>
              </div>
            )
          }
        </div>
      </section>
      <section class="blogpost-article">
        <!-- <hr /> -->
        <!-- SLOT indicates where the markdown should be rendered -->
        <slot />
      </section>
    </article>
  </section>
</MainLayout>
